

<h4>Contact Us</h4>
<p>
  <a href="https://sejong.elsevierpure.com/en/persons/sung-wook-baik/">Sung Wook Baik</a>
  <br>
  Professor <br>
  Department of Software<br>
  <a href="https://www.sejong.ac.kr/kor/index.do"></a>Sejong University<br>
  <br>
  Phone: <a href="tel:+82-2-3408-3797">+82-2-3408-3797</a> <br>
  Email: <a href="mailto:sbaik@sejong.ac.kr">sbaik@sejong.ac.kr</a> <br>
  <br>

  Office: 622, AI Center, Sejong University, 209<br>
  Neungdong-ro Gwangjin-gu, Seoul, 05006, <br>
  Republic of Korea<br>


</p>

<p>
  <h4> Join Us </h4>
  We are actively seeking highly motivated students and researchers who are eager to contribute to our mission. 
  Open positions are listed on our <a href="{{ site.url }}/join">Join</a> page.
  <br>

<p>
  <h4> 
    Visit Our Kaggle <a href="https://www.kaggle.com/datasets/mjcoco2025/mj-coco-2025"><img class="inline-bloc mem-icon" src="/static/img/logo/kaggle.png"></a>
  </h4>
  We share our research datasets on <a href="https://www.kaggle.com/datasets/mjcoco2025/mj-coco-2025" target="_blank">Kaggle</a>.
</p>

<!-- <p>
  <h4> 
    Watch Our Videos <a href="https://www.youtube.com/channel/UCwMUKImiGPZNtKvb2F5kNQQ"><img class="inline-bloc mem-icon" src="/static/img/logo/YouTube_logo.svg"></a>
  </h4>
  Research videos are available on our <a href="https://www.youtube.com/channel/UCwMUKImiGPZNtKvb2F5kNQQ" target="_blank">YouTube</a>.
</p> -->

<p>
  <h4> Recent Posts </h4>
  <ul>
    {% for post in site.posts limit: 5 %}
      <li><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>

</p>