<!-- See _includes/publication_sort_year.html -->


{% if memberName contains "Kyunghwan Choi" %}
    {% assign memberUrl = "khChoi" %}
{% elsif memberName contains "Myeongseok Ryu" %}
    {% assign memberUrl = "msRyu" %}
{% elsif memberName contains "Seongjae Shin" %}
    {% assign memberUrl = "sjShin" %}
{% elsif memberName contains "Seunghun Jang" %}
    {% assign memberUrl = "shJang" %}
{% elsif memberName contains "Minji Kim" %}
    {% assign memberUrl = "mjKim" %}
{% elsif memberName contains "Minseok Seo" %}
    {% assign memberUrl = "msSeo" %}
{% elsif memberName contains "Yeongho Jeong" %}
    {% assign memberUrl = "yhJeong" %}
{% elsif memberName contains "Hyochan Lee" %}
    {% assign memberUrl = "hcLee" %}
{% elsif memberName contains "Jiyun Kim" %}
    {% assign memberUrl = "jyKim" %}
{% elsif memberName contains "Donghwa Hong" %}
    {% assign memberUrl = "dhHong" %}
{% elsif memberName contains "Jaejoon Kim" %}
    {% assign memberUrl = "jjKim" %}
{% elsif memberName contains "Changeun Park" %}
    {% assign memberUrl = "cePark" %}
{% elsif memberName contains "Ahmad Mouri Zadeh Khaki" %}
    {% assign memberUrl = "aMouri" %}

{% elsif memberName contains "Sung Wook Baik" %}
    {% assign memberUrl = "swBaik" %}
{% elsif memberName contains "Adnan Hussain" %}
    {% assign memberUrl = "adHussain" %}
{% elsif memberName contains "Kaleem Ullah" %}
    {% assign memberUrl = "kUllah" %}
{% elsif memberName contains "Minji Kim" %}
    {% assign memberUrl = "mjKim" %}
{% elsif memberName contains "Muhammad Afaq" %}
    {% assign memberUrl = "mAfaq" %}
{% elsif memberName contains "Safi Ullah" %}
    {% assign memberUrl = "sUllah" %}
{% elsif memberName contains "Aizaz Ali Shah" %}
    {% assign memberUrl = "aaShah" %}
{% elsif memberName contains "Mohib Ullah" %}
    {% assign memberUrl = "mUllah" %}
{% elsif memberName contains "Amin Ullah" %}
    {% assign memberUrl = "amUllah" %}
{% elsif memberName contains "Ijaz Ul Haq" %}
    {% assign memberUrl = "iHaq" %}
{% elsif memberName contains "Hikmat Yar" %}
    {% assign memberUrl = "hYar" %}
{% elsif memberName contains "Muhamamd Munsif" %}
    {% assign memberUrl = "mMunsif" %}
{% elsif memberName contains "Altaf Hussain" %}
    {% assign memberUrl = "alHussain" %}
{% elsif memberName contains "Zulfiqar Ahmad Khan" %}
    {% assign memberUrl = "zAhmad" %}
{% elsif memberName contains "Noman Khan" %}
    {% assign memberUrl = "nKhan" %}
{% elsif memberName contains "Dong Keon Yon" %}
    {% assign memberUrl = "dKeon" %}
{% elsif memberName contains "Waseem Ullah" %}
    {% assign memberUrl = "wUllah" %}
{% elsif memberName contains "Samee Ullah Khan" %}
    {% assign memberUrl = "smUllah" %}
{% elsif memberName contains "Fath U Min Ullah" %}
    {% assign memberUrl = "fmUllah" %}
{% elsif memberName contains "Tanveer Hussain" %}
    {% assign memberUrl = "tHussain" %}
{% elsif memberName contains "Tuong Le" %}
    {% assign memberUrl = "tLee" %}
{% elsif memberName contains "Khan Muhammad" %}
    {% assign memberUrl = "kMuhammad" %}
{% elsif memberName contains "Jamil Ahmad" %}
    {% assign memberUrl = "jAhmad" %}
{% elsif memberName contains "Irfan Mehmood" %}
    {% assign memberUrl = "iMehmood" %}
{% elsif memberName contains "Muhammad Sajjad" %}
    {% assign memberUrl = "mSajjad" %}
{% elsif memberName contains "Naveed Ejaz" %}
    {% assign memberUrl = "nEjaz" %}
{% elsif memberName contains "Jeong Jung Lee" %}
    {% assign memberUrl = "jjLee" %}
{% elsif memberName contains "Su Mi Ji " %}
    {% assign memberUrl = "smJi" %}
{% elsif memberName contains "Jun Young Jang" %}
    {% assign memberUrl = "jyJang" %}


{% elsif memberName contains "Amjid Ali" %}
    {% assign memberUrl = "aali" %}
{% elsif memberName contains "Waqas Ahamd" %}
    {% assign memberUrl = "wAhamd" %}
{% elsif memberName contains "Sang II Yoon" %}
    {% assign memberUrl = "sYoon" %}

<!-- ADD MORE HERE -->

<!-- ADD MORE HERE -->

{% else %}
    {% assign memberUrl = "not Included" %}
{% endif %}