
{% assign stretch = 200 %}
{% assign yheight = 16 %}
{% assign yspacing = 18 %}
{% assign fontsize = 12 %}
{% assign yearoffset = 2022 %}
{% assign majortick = 0.025 %}
{% assign minortick = 0.025 %}
{% assign legendboxsize = 10 %}
{% assign legendboxspacing = 14 %}

<!-- {% assign people = site.members | concat: site.alumni | sort: "startdate" %} -->
{% assign people = site.members | sort: "startdate" %}
{% assign finalyear = "now" | date: "%Y" | plus: 1 %}

<?xml version="1.0" encoding="UTF-8" ?>
<svg width="100%" height="auto" viewBox="0 0 {{ finalyear | minus: yearoffset | plus: majortick | times: stretch }} {{ people.size | plus: 1 | times: yspacing | plus: 5 }}" xmlns="http://www.w3.org/2000/svg">

{% assign i = 0 %}

{% for year in (yearoffset..finalyear)%}
    {% assign year5 = year | modulo: 1 %}

    {% if year5 == 0 %}
        {% assign tick = majortick %}
        <text x="{{ fontsize | divided_by: 4.0 | divided_by: stretch | plus: tick | plus: year | minus: yearoffset | times: stretch }}" y="{{ i | times: yspacing | plus: fontsize }}" font-family="sans-serif" font-size="{{ fontsize }}" stroke="black">{{ year }}</text>
    {% else %}
        {% assign tick = minortick %}
    {% endif %}

    <rect x="{{ year | minus: yearoffset | times: stretch }}" y="0" width="{{ tick | times: stretch }}" height="{{ yheight }}" fill="black" />
{% endfor %}

{% assign i = i | plus: 1 %}

{% assign people = site.members | sort: "sortdate" %}
{% for member in people %}

    {% assign position_count = 1 %}

    {% for position in member.positions %}

        {% assign tenures = position.startdate.size | minus: 1 %}

        {% for tenure in (0..tenures) %}

            {% assign startyear = position.startdate[tenure] | date: "%Y" | minus: yearoffset %}
            {% assign startmonth = position.startdate[tenure] | date: "%m" | minus: 1 | divided_by: 12.0 %}
            {% assign start = startyear | plus: startmonth %}

            {% if position.enddate[tenure] %}
                {% assign endyear = position.enddate[tenure] | date: "%Y" | minus: yearoffset %}
                {% assign endmonth = position.enddate[tenure] | date: "%m" | minus: 1 | divided_by: 12.0 %}
                {% assign end = endyear | plus: endmonth %}
            {% else %}
                {% assign endyear = "now" | date: "%Y" | minus: yearoffset %}
                {% assign endmonth = "now" | date: "%m" | minus: 1 | divided_by: 12.0 %}
                {% assign end = endyear | plus: endmonth %}
            {% endif %}

            {% assign duration = end | minus: start %}
            
            {% if duration < 0.083 %} # For plotting purposes, minimum duration is a month
                {% assign duration = .5 %}
            {% endif %}

            <!-- Color Assign -->
            {% assign pos = position.name %}
            
            {% if pos == "Principal Investigator" %}
                {% assign color = "#1f3b4d" %}
            {% elsif pos == "Postdoctoral Researcher" %}
                {% assign color = "#84a98c" %}
            {% elsif pos == "Ph.D. Student" %}
                {% assign color = "#007acc" %}
            {% elsif pos == "Master Student" %}
                {% assign color = "#2ca58d" %}
            {% elsif pos == "Intern" %}
                {% assign color = "#f4a261" %}
            {% elsif pos == "Visiting Researcher" %}
                {% assign color = "#b47eb3" %}
            {% else %}
                {% assign color = "purple" %}
            {% endif %}

            <defs>
                <pattern id="grad-pattern" patternUnits="userSpaceOnUse" width="10" height="10">
                    <path d="M0,0 L10,10 M10,0 L0,10" stroke={{ color }} stroke-width="1" />
                </pattern>
            </defs>

            {% if member.subsequent %}
                <rect x="{{ start | times: stretch }}" y="{{ i | times: yspacing }}" width="{{ duration | times: stretch }}" height="{{ yheight }}" fill="url(#grad-pattern)" />
            {% else %}
                <rect x="{{ start | times: stretch }}" y="{{ i | times: yspacing }}" width="{{ duration | times: stretch }}" height="{{ yheight }}" fill="{{ color }}" />
            {% endif %}

            {% if tenure == 0 %}
                {% if position_count == 1 %}
                    <text text-anchor="end" x="{{ fontsize | divided_by: -4.0 | divided_by: stretch | plus: start | times: stretch }}" y="{{ i | times: yspacing | plus: fontsize }}" font-family="sans-serif" font-size="{{ fontsize }}" stroke="black">{% if member.timeline_name %}{{ member.timeline_name }}{% endif %}
                {% else %}
                    {{ member.name | split: " " | first }}
                {% endif %}</text>
            {% endif %}

        {% endfor %}

        {% assign position_count = position_count | plus: 1 %}

    {% endfor %}

    {% assign i = i | plus: 1 %}

{% endfor %}

{% assign legendn = 7 %}
{% assign fontsize = 14 %}
{% assign xposition = 10 %}
{% assign yposition = i | times: yspacing %}
{% assign yposition = legendn | plus: 0.5 | times: legendboxspacing | times: -1 | plus: yposition %}

<rect x="{{ xposition }}" y="{{ yposition }}" width="{{ legendboxsize }}" height="{{ legendboxsize }}" fill="#1f3b4d" />
<text x="{{ fontsize | times: 0.25 | plus: legendboxsize | plus: xposition }}" y="{{ fontsize | times: 0.75 | plus: legendboxsize | times: 0.5 | plus: yposition }}" font-family="sans-serif" font-size="{{ fontsize }}" stroke="black">Principal investigator</text>
{% assign yposition = yposition | plus: legendboxspacing %}
<rect x="{{ xposition }}" y="{{ yposition }}" width="{{ legendboxsize }}" height="{{ legendboxsize }}" fill="#84a98c" />
<text x="{{ fontsize | times: 0.25 | plus: legendboxsize | plus: xposition }}" y="{{ fontsize | times: 0.75 | plus: legendboxsize | times: 0.5 | plus: yposition }}" font-family="sans-serif" font-size="{{ fontsize }}" stroke="black">Postdoctoral Researcher</text>
{% assign yposition = yposition | plus: legendboxspacing %}
<rect x="{{ xposition }}" y="{{ yposition }}" width="{{ legendboxsize }}" height="{{ legendboxsize }}" fill="#007acc" />
<text x="{{ fontsize | times: 0.25 | plus: legendboxsize | plus: xposition }}" y="{{ fontsize | times: 0.75 | plus: legendboxsize | times: 0.5 | plus: yposition }}" font-family="sans-serif" font-size="{{ fontsize }}" stroke="black">Ph.D. Student</text>
{% assign yposition = yposition | plus: legendboxspacing %}
<rect x="{{ xposition }}" y="{{ yposition }}" width="{{ legendboxsize }}" height="{{ legendboxsize }}" fill="#2ca58d" />
<text x="{{ fontsize | times: 0.25 | plus: legendboxsize | plus: xposition }}" y="{{ fontsize | times: 0.75 | plus: legendboxsize | times: 0.5 | plus: yposition }}" font-family="sans-serif" font-size="{{ fontsize }}" stroke="black">Master Student</text>
{% assign yposition = yposition | plus: legendboxspacing %}
<rect x="{{ xposition }}" y="{{ yposition }}" width="{{ legendboxsize }}" height="{{ legendboxsize }}" fill="#f4a261" />
<text x="{{ fontsize | times: 0.25 | plus: legendboxsize | plus: xposition }}" y="{{ fontsize | times: 0.75 | plus: legendboxsize | times: 0.5 | plus: yposition }}" font-family="sans-serif" font-size="{{ fontsize }}" stroke="black">Undergraduate Intern</text>
{% assign yposition = yposition | plus: legendboxspacing %}
<rect x="{{ xposition }}" y="{{ yposition }}" width="{{ legendboxsize }}" height="{{ legendboxsize }}" fill="#b47eb3" />
<text x="{{ fontsize | times: 0.25 | plus: legendboxsize | plus: xposition }}" y="{{ fontsize | times: 0.75 | plus: legendboxsize | times: 0.5 | plus: yposition }}" font-family="sans-serif" font-size="{{ fontsize }}" stroke="black">Visiting Researcher</text>
{% assign yposition = yposition | plus: legendboxspacing %}
<!-- <rect x="{{ xposition }}" y="{{ yposition }}" width="{{ legendboxsize }}" height="{{ legendboxsize }}" fill="purple" />
<text x="{{ fontsize | times: 0.25 | plus: legendboxsize | plus: xposition }}" y="{{ fontsize | times: 0.75 | plus: legendboxsize | times: 0.5 | plus: yposition }}" font-family="sans-serif" font-size="{{ fontsize }}" stroke="black">Visitor</text> -->
</svg>