<!-- See _includes/publication_sort_year.html -->


{% if memberName contains "Kyunghwan Choi" %}
    {% assign memberUrl = "khChoi" %}
{% elsif memberName contains "Myeongseok Ryu" %}
    {% assign memberUrl = "msRyu" %}
{% elsif memberName contains "Seongjae Shin" %}
    {% assign memberUrl = "sjShin" %}
{% elsif memberName contains "Seunghun Jang" %}
    {% assign memberUrl = "shJang" %}
{% elsif memberName contains "Minji Kim" %}
    {% assign memberUrl = "mjKim" %}
{% elsif memberName contains "Minseok Seo" %}
    {% assign memberUrl = "msSeo" %}
{% elsif memberName contains "Yeongho Jeong" %}
    {% assign memberUrl = "yhJeong" %}
{% elsif memberName contains "Hyochan Lee" %}
    {% assign memberUrl = "hcLee" %}
{% elsif memberName contains "Jiyun Kim" %}
    {% assign memberUrl = "jyKim" %}
{% elsif memberName contains "Donghwa Hong" %}
    {% assign memberUrl = "dhHong" %}
{% elsif memberName contains "Jaejoon Kim" %}
    {% assign memberUrl = "jjKim" %}
{% elsif memberName contains "Changeun Park" %}
    {% assign memberUrl = "cePark" %}
{% elsif memberName contains "Ahmad Mouri Zadeh Khaki" %}
    {% assign memberUrl = "aMouri" %}

{% elsif memberName contains "Sung Wook Baik" %}
    {% assign memberUrl = "swBaik" %}
{% elsif memberName contains "Hikmat Yar" %}
    {% assign memberUrl = "hYar" %}
{% elsif memberName contains "Adnan Hussain" %}
    {% assign memberUrl = "adHussain" %}
{% elsif memberName contains "Kaleem Ullah" %}
    {% assign memberUrl = "kUllah" %}
{% elsif memberName contains "Minji Kim" %}
    {% assign memberUrl = "mjKim" %}
{% elsif memberName contains "Muhammad Afaq" %}
    {% assign memberUrl = "mAfaq" %}
{% elsif memberName contains "Safi Ullah" %}
    {% assign memberUrl = "sUllah" %}
{% elsif memberName contains "Aizaz Ali Shah" %}
    {% assign memberUrl = "aaShah" %}
{% elsif memberName contains "Mohib Ullah" %}
    {% assign memberUrl = "mUllah" %}
{% elsif memberName contains "Amin Ullah" %}
    {% assign memberUrl = "amUllah" %}

<!-- ADD MORE HERE -->

<!-- ADD MORE HERE -->

{% else %}
    {% assign memberUrl = "not Included" %}
{% endif %}