<!-- See _includes/publication_sort_year.html -->


<!-- Member linking for publication author names -->
{% elsif memberName contains "Sung Wook Baik" %}
    {% assign memberUrl = "swBaik" %}

{% if memberName contains "Minji Kim" %}
    {% assign memberUrl = "minjiKim" %}

{% elsif memberName contains "Adnan Hussain" %}
    {% assign memberUrl = "adnanHussain" %}

{% elsif memberName contains "Kaleem Ullah" %}
    {% assign memberUrl = "kaleemUllah" %}

{% elsif memberName contains "Muhammad Afaq" %}
    {% assign memberUrl = "muhammadAfaq" %}

{% elsif memberName contains "Safi Ullah" %}
    {% assign memberUrl = "safiUllah" %}

{% elsif memberName contains "Aizaz Ali Shah" %}
    {% assign memberUrl = "aizazAliShah" %}

{% elsif memberName contains "Mohib Ullah" %}
    {% assign memberUrl = "mohibUllah" %}

{% elsif memberName contains "Jihun Kim" %}
    {% assign memberUrl = "jihunKim" %}

{% elsif memberName contains "Ahmad Mouri Zadeh Khaki" %}
    {% assign memberUrl = "aMouri" %}

{% else %}
    {% assign memberUrl = "not Included" %}
{% endif %}

<!-- ADD MORE HERE -->

<!-- ADD MORE HERE -->

{% else %}
    {% assign memberUrl = "not Included" %}
{% endif %}