{% include header.html %}

<div class="container-fluid">

<h5>
  {{ page.title | markdownify  | remove: '<p>' | remove: '</p>'}} 
  {% if page.domestic_or_international contains "Domestic" %}
    <br>
    <i>{{ page.krtitle }}</i>
  {% endif %}
</h5> 
<h8>
    {% for author in page.authors %}
      {% assign memberName = author.name %}
      {% include memberLink.html %}
      
      {%- if memberUrl != "not Included" -%}
      {%- if memberName contains page.name -%}
          <a href="{{ site.url }}/members/{{ memberUrl }}" title = "{{memberName}}'s profile (opens in new tab)" target="_blank" style="color: rgb(0, 0, 0)"><b>{{ memberName }}</b></a>
      {%- else -%}
          <a href="{{ site.url }}/members/{{ memberUrl }}" title = "{{memberName}}'s profile (opens in new tab)" target="_blank" style="color: rgb(0, 0, 0)">{{ memberName }}</a>
      {%- endif -%}
      {%- else -%}
          <a style="color: rgba(0, 0, 0, 0.498)">{{ memberName }}</a>
      {%- endif -%}
      {%- if author.corresponding -%}&#42;{% endif %}
      {%- if forloop.last == false -%}, {% endif %}

    {% endfor %}
</h8>

<div class="row" style="padding-top: 20px; margin-top: -20px">
    
    <div class="col-sm-5">

      {% if page.image %}
        <div style ="text-align: center; padding-bottom: 10px">
          <img class = "img-fluid" src = "{{page.image}}" alt =  "Key Figure" style="max-height: 200px">  
        </div>
      {% endif %}

      <br>
      
      <h5><li>Access the paper</li></h5>

      <!-- Dissertations -->
      {% if page.type contains "Ph.D. Dissertation" or page.type contains "Master's Thesis" %}
      
        {% assign pub = page.pub | last %}

        <i><b>{{ pub.name }}</b></i>{% if pub.year %}, {{ pub.year }}{% endif %} <b>{{ pub.state }}</b>
        {% if pub.doi %}
          <a href="https://doi.org/{{ pub.doi }}" class="custom-color-link" title = "DOI: {{pub.doi}} (opens in new tab)" target="_blank">[🌐 Online]</a>
        {% endif %}
        {% if pub.pdf %}
          <a href="{{pub.pdf}}" class="custom-color-link" title = "PDF for {{page.title}} (opens in new tab)" target="_blank">[📃 Full-Text]</a>
        {% endif %}
        {% if pub.bib %}
          <a href="{{pub.bib}}" class="custom-color-link" title = "BibTex for {{page.title}} (opens in new tab)" target="_blank">[💾 Cite]</a>
        {% endif %}
          
      <!-- Publications -->
      {% else %}
          
          {% if page.pub %}
            {% assign pub = page.pub | last %}

            <i><b>{{ pub.name }}</b></i>{% if pub.year %}, {{ pub.year }}{% endif %} <b>{{ pub.state }}</b>

            {% if pub.url and page.domestic_or_international contains "Domestic" %} 
              <a href="{{pub.url}}" class="custom-color-link" title = "URL for {{publication.title}} (opens in new tab)" target="_blank">[🌐 DBpia Online]</a>
            {% elsif pub.doi %}
              <a href="https://doi.org/{{ pub.doi }}" class="custom-color-link" title = "DOI: {{pub.doi}} (opens in new tab)" target="_blank">[🌐Online]</a>
            {% endif %}

            {% if pub.pdf %}
                <a href="{{pub.pdf}}" class="custom-color-link" title = "PDF for {{page.title}} (opens in new tab)" target="_blank">[📃 Full-Text]</a>
            {% endif %}

            {% if pub.pres %}
                <a href="{{pub.pres}}" class="custom-color-link" title = "Presentation for {{page.title}} (opens in new tab)" target="_blank">[🎥 Presentation]</a>
            {% endif %}

            {% if pub.bib %}
                <a href="{{pub.bib}}" class="custom-color-link" title = "BibTex for {{page.title}} (opens in new tab)" target="_blank">[💾 Cite]</a>
            {% endif %}
          {% endif %}
          
          {% if page.preprint %}
          <br>
            {% assign pre_info = page.preprint | last %}

            <i><b>{{ pre_info.name }}</b></i>{% if pre_info.year %}, {{ pre_info.year }}{% endif %}                
                                
            {% if pre_info.doi %}
                <a href="https://doi.org/{{ pre_info.doi }}" class="custom-color-link" title = "DOI: {{pre_info.doi}} (opens in new tab)" target="_blank">[🌐 Preprint Online]</a>
            {% endif %}
            {% if pre_info.pdf %}
                <a href="{{pre_info.pdf}}" class="custom-color-link" title = "PDF for {{page.title}} (opens in new tab)" target="_blank">[📃 Preprint Full-Text]</a>
            {% endif %}
            {% if pre_info.bib %}
                <a href="{{pre_info.bib}}" class="custom-color-link" title = "BibTex for {{page.title}} (opens in new tab)" target="_blank">[💾 Preprint Cite]</a>
            {% endif %}

          {% endif %}

        {% endif %}

      <!--Github - optional-->
      {% if page.github %}
      <br>
        
        <h5><li>GitHub Repository</h5></li>

        {% for record in page.github %}
          &emsp; <a href="https://www.github.com/{{record.url}}/" alt="GitHub Repository: {{record.url}} (opens in new tab)" target="_blank">{{record.name}}</a>{% if record.description %} ({{record.description}}){% endif %}{% unless forloop.last %}, {% endunless %}
        {% endfor %}
      {% endif %}
    
      {% if page.Youtube %}
      <br>
        <h5><li>Youtube Videos</h5></li>
        {% for video in page.Youtube %}
          &emsp; <a href="https://youtu.be/{{video.url}}" alt="Youtube Video: {{video.name}} (opens in new tab)" target="_blank">{{video.name}}</a>
            <a href="https://youtu.be/{{video.url}}"><img class="inline-bloc mem-icon" src="/static/img/logo/YouTube_logo.svg"></a>  
          {% unless forloop.last %}, {% endunless %}
        {% endfor %}
      {% endif %}

      <!--additional links - optional-->
      {% if page.links %}
      <br>
      <h5><li>Additional Link{% if page.links.size > 1 %}s{% endif %}</h5></li>
      {% for link in page.links %}
        &emsp; <a href="{{link.url}}" alt="{{link.name}} (opens in new tab)" target="_blank">{{link.name}}</a>
        {% unless forloop.last %}, {% endunless %}
      {% endfor %}
      {% endif %}
    </div>
    
    <ul class="col-sm-7">

        <h5><li>Abstract</li></h5>

      {% if page.abstract %}
        {{ page.abstract | markdownify }}
      {% else %}
        No abstract available
      {% endif %}
    
        <h5><li>Additional Comments</li></h5>

      {% if page.comments %}
        {{ page.comments | markdownify }}
      {% endif %}

    </ul>
</div>
</div>
{% include footer.html %}
