---
title: Publications from the MIC Lab
layout: default
group: publications
---

<div class="container-fluid"> 

<h1>Publications</h1>
<hr>

{% assign targetName = "Sung Wook Baik" %}
{% include publication_with.html %}

<br>
<hr>
<br>

<h3 id="International Patents">International Patents</h3>

<ul>

<li>
<a href="">Cross platforms model data integrated process method</a>.<br>
&nbsp;&nbsp;&nbsp;&nbsp;Processing (2024)
</li>

<li>
<a href="https://doi.org/10.8080/1020200123761">
System and method for re-identifying people in smart city surveillance environment
</a>.<br>
&nbsp;&nbsp;&nbsp;&nbsp;Reg.No: 10-2533505 (2023)
</li>

<li>
<a href="https://doi.org/10.8080/1020220130434">
Method for predicting renewable energy consumption and production based on deep learning and apparatus thereof
</a>.<br>
&nbsp;&nbsp;&nbsp;&nbsp;Reg.No: 10-2533508 (2023)
</li>

<li>
<a href="https://doi.org/10.8080/1020220130435">
Method for predicting energy consumption and production based on using hybrid convolutional neural network and regression neural network and apparatus thereof
</a>.<br>
&nbsp;&nbsp;&nbsp;&nbsp;Reg.No: 10-2521808 (2023)
</li>

<li>
<a href="https://doi.org/10.8080/1020220130436">
Method for predicting energy production and consumption data using double sequence deep learning model, and apparatus thereof
</a>.<br>
&nbsp;&nbsp;&nbsp;&nbsp;Reg.No: 10-2521807 (2023)
</li>

<li>
<a href="https://doi.org/10.8080/1020200099720">
Power consumption prediction system of residential and commercial building using hybrid convolution neural network and method thereof
</a>.<br>
&nbsp;&nbsp;&nbsp;&nbsp;Reg.No: 10-2500548 (2023)
</li>

<li>
<a href="https://doi.org/10.8080/1020200140950">
Crowded scenes image real-time analysis apparatus using dilated convolutional neural network and method thereof
</a>.<br>
&nbsp;&nbsp;&nbsp;&nbsp;Reg.No: 10-2486083 (2023)
</li>

<li>
<a href="https://doi.org/10.8080/1020200019677">
Scene segmentation apparatus using object detecting and set theory, and method thereof
</a>.<br>
&nbsp;&nbsp;&nbsp;&nbsp;Reg.No: 10-2430756 (2022)
</li>

<li>
<a href="https://doi.org/10.8080/1020200021011">
Performance evaluation system for Non-intrusive load monitoring according to multi-state energy classification and method thereof
</a>.<br>
&nbsp;&nbsp;&nbsp;&nbsp;Reg.No: 10-2332248 (2021)
</li>

<li>
<a href="https://doi.org/10.8080/1020190155473">
System and method for detecting violence using spatiotemporal features and computer readable recording media storing program for executing method thereof
</a>.<br>
&nbsp;&nbsp;&nbsp;&nbsp;Reg.No: 10-2182660 (2020)
</li>

<li>
<a href="https://doi.org/10.8080/1020190018379">
Method and system for abnormal situation monitoring based on video
</a>.<br>
&nbsp;&nbsp;&nbsp;&nbsp;Reg.No: 10-2172239 (2020)
</li>

<li>
<a href="https://doi.org/10.8080/1020180171033">
Method and system for analyzing baby behavior
</a>.<br>
&nbsp;&nbsp;&nbsp;&nbsp;Reg.No: 10-2150623 (2020)
</li>

<li>
<a href="https://doi.org/10.8080/1020180037358">
Method and apparatus for bankruptcy prediction using synthetic feature generation
</a>.<br>
&nbsp;&nbsp;&nbsp;&nbsp;Reg.No: 10-2091791 (2020)
</li>

<li>
<a href="https://doi.org/10.8080/1020180062174">
Image processing method and system for smoky environment
</a>.<br>
&nbsp;&nbsp;&nbsp;&nbsp;Reg.No: 10-2016262 (2019)
</li>

<li>
<a href="https://doi.org/10.8080/1020150148322">
System and method for virtual fitness experience
</a>.<br>
&nbsp;&nbsp;&nbsp;&nbsp;Reg.No: 10-1972472 (2019)
</li>

</ul>

</div>





































<!-- ---
title: Publications from the MIC Lab
layout: default
group: publications
---

<div class="container-fluid"> 

<h1>Publications</h1>

<hr>

{% assign targetName = "Kyunghwan Choi" %}
{% include publication_with.html %}

<div 
<br>
<h4 id="International Patents">International Patents - Registered</h4>
<ol reversed>
<li>K.-S. Kim, <b>K. Choi</b>, and I. G. Jang, “Method and apparatus for controlling power of hybrid vehicle considering driving environment,” <b>U.S. Patent 12,097,840</b>, Sep. 24, 2024.</li>
<li>K.-S. Kim, <b>K. Choi</b>, and S.-K. Kim, “Method and apparatus for real-time estimation of full parameters of permanent magnet synchronous motor,” <b>U.S. Patent 11,614,488</b>, Mar. 28, 2023.</li>
<li>I. G. Jang, D. Kum, K.-S. Kim, K. Jang, C. Lee, J. H. Kim, <b>K. Choi</b>, and M. Kim, “Apparatus and method for operating accessories of vehicle during engine stop using one-way clutch pulley,” <b>U.S. Patent 11,607,944</b>, Mar. 21, 2023.</li>
</ol>

<br>
<h4>International Patents - Pending</h4>
<ol reversed>
<li>K.-S. Kim, <b>K. Choi</b>, and I. G. Jang, “Method and apparatus for controlling power of hybrid vehicle considering transient characteristics,” <b>U.S. Patent Application 18/648,697</b>, Apr. 29, 2024, pending.</li>
</ol>

<br>
<h4 id="Domestic Patents">Domestic Patents - Registered</h4>
<ol>
<li>김경수, <b>최경환</b>, 장인권, “하이브리드 차량의 과도특성을 고려한 동력제어 방법 및 장치,” <b>대한민국 특허 10-2701529</b>, 2024.8.28.</li>
<li>김경수, <b>최경환</b>, 장인권, “하이브리드 차량의 주행환경을 고려한 동력제어 방법 및 장치,” <b>대한민국 특허 10-2508409</b>, 2023.3.6.</li>
<li>김경수, <b>최경환</b>, 김석균, “영구자석동기모터 전체 파라미터의 실시간 추정 방법 및 장치,” <b>대한민국 특허 10-2437244</b>, 2022.8.24.</li>
<li>장인권, 금동석, 김경수, 장기태, 이창우, 김종호, <b>최경환</b>, 김민기, “원웨이 클러치 풀리를 이용한 엔진 정지 시 차량 부가장치의 구동 장치 및 방법,” <b>대한민국 특허 10-2053538</b>, 2019.12.2.</li>
<li>김경수, 임미림, <b>최경환</b>, 금동석, “유성기어를 이용한 전기화 수동변속기 기반 하이브리드 파워트레인 제어 방법,” <b>대한민국 특허 10-2044210</b>, 2019.11.7.</li>
</ol>


</div>
</div> -->